.nav-pills .nav-link {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #f7f7f7;
  color: #444;
}

.nav-pills .nav-link.active {
  background-color: #b3d42a;
  color: #fff;
}
.sidebar-steps {
  background: rgb(208 219 52 / 50%);
  border-radius: 20px;
  height: 90vh;
  padding-right: 0 !important;
}
.kyc-content-form {
  height: 90vh;
}
.stepper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 2rem;
  position: relative;
}

.step-wrapper {
  position: relative;
  padding-left: 40px;
}

.step-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  left: 7px;
  top: 20px;
  color: #9cb417;
  font-size: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid #7e841f;
  align-items: center;
  padding: 8px;
}

.step-dot.completed {
  border: 2px solid #9cb417;
}

.step-line {
  width: 2px;
  height: 100%;
  background-color: #7e841f;
  position: absolute;
  left: 16px;
  top: 42px;
}
.step-label {
  font-size: 0.95rem;
  color: #333;
  padding: 0.7rem 1rem;
  border-top-left-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  background: transparent;
  transition: all 0.3s ease;
  background: linear-gradient(to right, #cfda2f 0%, #e8eda9 100%) !important;
}
.step-label.active {
  background: linear-gradient(to right, #9cb417 0%, #e8eda9 100%) !important;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
strong.steps-number {
  color: #434800;
}
.steps-name {
  color: rgb(67 72 0 / 60%);
  font-weight: 400 !important;
}
.kyc-content-form h2 {
  color: #434800;
  font-weight: 900;
}
.kyc-content-form p {
  color: #7c804d;
}
form.profile-form h3 {
  color: #434800;
}
button.skipbtn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px 10px 10px 10px !important;
  padding: 20px 25px;
  color: #434800;
  text-decoration: none;
}
button.nextbtn {
  background-color: #cadb00;
  border: none;
  font-weight: bold;
  padding: 20px 25px;
  font-size: 16px;
  color: #434800;
}
form.profile-form h3 {
  font-size: 20px;
  font-weight: 600;
}
.verify-container {
  text-align: left;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.verify-btn {
  background-color: #28a5e2;
  color: white;
  border: none;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  width: 45%;
}

.verify-btn:hover {
  background-color: #1b8ac5;
}

.verify-description {
  margin-top: 20px;
  font-size: 14px;
  color: #7d7c7c;
}
