@font-face {
  font-family: "Lufga-light";
  src: url("Lufga-Light.woff2") format("woff2"),
    url("Lufga-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga-extrabold";
  src: url("Lufga-ExtraBold.woff2") format("woff2"),
    url("Lufga-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga-extralight";
  src: url("Lufga-ExtraLight.woff2") format("woff2"),
    url("Lufga-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga-black";
  src: url("Lufga-Black.woff2") format("woff2"),
    url("Lufga-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("Lufga-Medium.woff2") format("woff2"),
    url("Lufga-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga-regular";
  src: url("../fonts/Lufga-Regular.woff2") format("woff2"),
    url("../fonts/Lufga-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga-bold";
  src: url("Lufga-Bold.woff2") format("woff2"),
    url("Lufga-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga-semibold";
  src: url("Lufga-SemiBold.woff2") format("woff2"),
    url("Lufga-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga-thin";
  src: url("Lufga-Thin.woff2") format("woff2"),
    url("Lufga-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
:root {
  --body-font: "Lufga-regular";
}
* {
  font-family: var(--body-font);
}
body {
  margin: 0;
  font-family: var(--body-font);
  background: #fffcf5;
}
h4.logo {
  background: rgb(255 252 245 / 20%);
  padding: 20px;
  border-radius: 20px;
  margin: 0px 15px;
}
ul.nav li a svg {
  font-size: 22px;
}

ul.nav li.rounded a svg {
  fill: #1e96dd;
}
ul.nav li a {
  color: rgb(255 255 255 / 60%);
  padding: 18px;
}
ul.nav li {
  border-top-left-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
  background: linear-gradient(
    to right,
    rgb(255 255 255 / 10%) 0%,
    rgb(30 150 221 / 10%) 100%
  );
}
li.rounded {
  border-top-left-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
}
.sidebar {
  transition: all 0.3s ease-in-out;
  width: 255px;
  background: #1e96dd;
  border-radius: 30px;
  padding-right: 0 !important;
  position: relative;
  padding-left: 0px !important;
}
.mr-3 {
  margin-right: 20px;
}
.collapse-sidebar {
  width: 114px;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.collapse-sidebar h4.logo {
  margin: 0px !important;
}
.nav-link {
  color: #000;
  transition: background-color 0.2s;
}
.collapse-sidebar ul.nav.flex-column {
  padding-right: 1rem !important;
}

.collapse-sidebar ul.nav.flex-column li a span,
.collapse-sidebar ul.nav.flex-column li button span {
  display: none;
}
.collapse-sidebar ul.nav.flex-column li {
  border-radius: 40px !important;
}
.collapse-sidebar li.logout-row {
  width: 58%;
}
.nav-link.active {
  background-color: #ced4da;
  color: #000;
}
ul.nav li.rounded a {
  color: #434800;
}
.nav-link:hover {
  color: #fff;
}
li.logout-row {
  position: absolute;
  bottom: 22px;
  width: 93%;
}
.logout-btn {
  width: 100%;
  padding: 18px;
  color: rgb(255 255 255 / 60%) !important;
}
.logout-btn:hover {
  color: #fff !important;
}
.logout-btn svg {
  font-size: 22px;
}
nav.navbar.menus a {
  color: #434800;
  font-weight: 600;
  font-size: 17px;
}
.toggle-btn {
  padding: 0px;
  position: absolute;
  left: -60px;
}
.toggle-btn:focus,
.toggle-btn:active {
  border: none !important;
}
/* .toggle-btn {
  background: #1e96dd;
  border-radius: 30px;
}
.toggle-btn svg {
  font-size: 25px;
}
.toggle-btn:hover {
  border: 1px solid #1e96dd;
  color: #1e96dd;
} */
ul.nav.flex-column {
  padding-left: 1rem !important;
  margin-top: 40px;
}
div#basic-navbar-nav a {
  color: rgb(67 72 0 / 70%);
}
.right-side-content {
  position: relative;
}
.logged_user {
  border: 1px solid rgb(67 72 0 / 23%);
  border-radius: 30px;
  background: #fff;
  padding: 15px 25px !important;
}
.logged_user h5 {
  margin: 0;
  color: #1f1e30;
  font-weight: 600;
}
.logged_user span {
  color: #1e96dd;
  font-weight: 600;
}

/*********** dashbaord css ********/
.page-title h1 {
  color: #434800;
  font-weight: 900;
}
.dashbaord-bg-image {
  background: url("../images/info-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  border-radius: 30px;
}
.dashbaord-bg-image h2 {
  color: #fff;
  font-weight: bold;
}
.dashbaord-bg-image h2 span {
  color: rgb(255 255 255 / 60%);
}
.border-r {
  border-radius: 30px;
  box-shadow: 3.19px 3.19px 199.16px 0px rgba(0, 0, 0, 0.25);
}
